mixin slider-services-2()
	+b.slider&attributes(attributes)
		+e('div').title
			+e('h2').title-value игры
		+e.content
			+e.op
				for slide in getData('slider')
					+e.item
						+e('a').link(href="#")
							+e.image
								+e('img').icon(src="./assets/images/#{slide[0]}" alt="")
