extends /blocks/layout-default/layout-default

include /blocks/slider-services/slider-services
include /blocks/slider-services-2/slider-services-2
include /blocks/fancybox-example/fancybox-example

block head
	- var pageTitle = 'Project Template';

block content
	.container(style="width: 1000px; margin: 0 auto")
		h1 ololos
		+fancybox-example
		+slider-services
		+slider-services-2
